a{
  text-decoration:none;
  color: black!important;
}

.active{
  display: flex;
}


.nav-active {
  background-color: #fdfdfd;
}

.nav-btn {
  line-height: 40px;
}

.nav-btn:hover {
  background-color: #fdfdfd;
}

nav {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
span.nav-toggle {
  font-size: 30px;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

ul {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}
ul li {
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  font-size: 15px;
  cursor: pointer;
  margin: 20px;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  border-bottom-width: 1px;
  padding: 5px 50px;
}
ul li:first-child{
  margin-top: 0;
}
ul li:hover {
  opacity: 0.5;
}

#js-menu {
  margin: 0;
}

@media screen and (min-width: 800px) {
  nav {
	padding-top:0px!important;
	padding-bottom:0px!important;
	align-items:center;
  min-height: 5vh;
	flex-direction: row;
	background-color: #f15f4b ;
  }
ul {
    display: flex;
    justify-content: center;
    width: 80%;
    flex-direction: row;
  }
ul li {
    display: inline-block;
    margin: 0 50px 0 50px;
    text-align: left;
    border-bottom-style: none;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
span.nav-toggle {
    display: none;
  }
}

#logo-section {
  min-height:5vh;
}

.logo {
  object-fit: cover;
  width:24vh;
}