

#homeDiv {
    background-image: url('/img/home-blur.webp');
    width:auto;
    display:flex;
    background-size: cover;
    min-height: 10vw;
    background-position:center;
    padding:0;
    border-radius:40px;
    background-position: 50% 20%;
}


.blurFull {
    background-color: rgba(119, 119, 119, 0.5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius:40px;
    padding:40px 50px 25px 50px;
}

#homeH1 {
    color:white;
    font-size: 3.5rem;
}

.noStyle {
    padding:0!important;
    margin:0!important;
}

#aboutDiv {
    margin-top:25px;

}

#whyH1 {
    padding-top:0;
    padding-bottom:15px;
}

#imgPhone {
    border-radius:25px;
}

.aboutContainerDiv {
    padding:60px 30px 60px 90px;
}

#aboutPicDiv {
    margin-top:25px;
}


@media (hover:none) {
    #home-section 
   {
    background-attachment:inital;
    background-position: 75% 10%;
    }

    #homeH1 {
        font-size:3rem
    }

}