#logo-section {
    min-height:5vh;
}

.logo {
    object-fit: cover;
    width:27vh;
}

#home-section {
    height:90vh;
    background-image: url('/img/splash.jpg');
    background-size: cover;
    background-position: 50% 20%;
}