
#home-section {
    height:90vh;
    background-image: url('/img/splash.png');
    background-size: cover;
    background-position: 50% 20%;
}

.home-headers {
    padding-top:55vh;
}

#source-h1 {
    color:white;
    font-size: 4rem;
}


@media (hover:none) {
    #home-section 
   {
    background-attachment:inital;
    background-position: 75% 10%;
    }


}