
#home-section {
    min-height:80vh;
    background-image: url('/img/iphone-inventory.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% -50%;
    background-repeat: no-repeat;
}

.home-div {
    margin-top:6vh;
    margin-left:5vw;
    border-radius:25px;
    background-color: rgba(160, 158, 158, 0.5);
    min-height:70vh;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 15px 50px 15px 50px;
}

#source-h1 {
    color:white;
    font-size: 4rem;
}

.col-12 h3 {
    color:white;
}

@media (hover:none) {
    #home-section 
   {
    background-attachment:inital;
    background-position: 75% 10%;
    }


}